{
  "extends": [
    "stylelint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "strict": 0
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*"
      ],
      "globals": {
        "testRule": true
      }
    }
  ]
}